
.box1 { background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  height: 804px;
  width: 100%;
 
}
.dp {
  border: 10px solid white;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-image: url(./PicsArt_01-01-07.08.23-removebg-preview.png);
  background-size: cover;
  position: absolute;
  top: 200px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
.intro {
  position: absolute;
  top: 220px;
  left: -50px;
  color: whitesmoke;
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  width: max-content;
}

.subtitle {
  position: absolute;
  top: 300px;
  left: 50px;
  font-size: 2rem;
  color: rgb(255, 246, 246);
  transform: translateY(3rem);
  animation: fadein1 3s ease 3s forwards;
  opacity: 0;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
.intro::before,
.intro::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
h1::before {
  background: rgb(0, 0, 0);
  animation: typewriter 10s 20 1s forwards;
}

h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter 10s 20 1s forwards;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
@keyframes typewriter {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes fadein1 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////           HEADER          //////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
.header {
  display: flex;
  position: absolute;
  height: 40px;
  width: 100%;
  background: rgb(199, 16, 16);
  margin-left: -15px;
}
.elements {
  flex-wrap: wrap;
  top: 6px;
  font-size: 25px;
  position: absolute;
  left: 1150px;
  font-family: "Times New Roman", Times, serif;
}
a {
  color: white;

  text-decoration: none;
  padding: 7px;
}
a:hover {
  background: rgb(201, 34, 201);
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////          PROJECTS         //////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
.titlebox {
  display: flex;
  height: 300px;
  width: 100%;
  background: rgb(71, 106, 159);
  justify-content: center;
 
}
.titleP {
  margin-top: 200px;

  border-bottom: 5px solid white;
  color: white;
  font-size: 50px;
  flex-wrap: wrap;
}
.projectsbox {
  padding-top: 100px;
  /* padding-left: 25px; */
  display: flex;
  height: 600px;
  width: 100%;
 
  background: rgb(71, 106, 159);
}
.projects {
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  background: black;
  padding: 20px;
  margin: 10px;
 
}
.projecttitle{
  
  background: purple;
  color: aliceblue;
  position: relative;
  top: 375px;
 
  font-size: 40px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 150px;
}
.projecttitle:hover:before{
  content: "</"; 
 
  color: red;
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 15px;  
}
.projecttitle:hover:after{
  content: ">";   
  position: absolute; 
  color: red; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 15px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////         BOTTOM         //////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
.bottom{
display: flex;
  height: 400px;
  width: 100%;
  background: rgb(148, 147, 147);  
  justify-content: center;

}
.social{
flex-wrap: wrap;
  height: 400px;
  width: 100%;
  background: rgb(148, 147, 147);
}
.bottomtitle,.smallline{
font-size: 120px;
margin-top: 200px;

color: white;
}
.smallline{
font-size: 35px;
position: absolute;
top: 1980px;
font-style: italic;

}


/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////          HTML        //////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
