.ticker-news {
    width: 700px;
    padding: 10px 0;
    color: #da1414;
    font-size: 36px;
    /* text-transform: uppercase; */
    text-shadow: 0 0 5px rgba(0,0,0,1); 
    /* background: linear-gradient(135deg,  rgba(74,255,255,1) 0%,rgba(29,127,162,1) 11%,rgba(29,127,162,0.5) 29%); */
    animation: news 5s infinite linear;
}
.ticker-news h1{
    justify-content: center;
    text-align: center;
    align-content: center;
    float: right;
}

@keyframes news {
    0% {transform: translateX(0);}
    25% {transform: translateX(-35px);}
    50%{transform: translateX(-85px)}
    75%{transform: translateX(-135px);}
    100%{transform: translateX(-235px);}

    

}